PATH="$PATH:/home/bane/dev/deb-repo/bin"
export SHDPKG_LIBS="/home/bane/dev/deb-repo/lib"
cat << EOM
+---- debian repo building shell ----+
| usage: make-repo                   |
+------------------------------------+
EOM